<?php
session_start();
?>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/normalyze.css">
    <link rel="stylesheet" href="../assets/css/estiloshp.css">
    <link rel="stylesheet" href="../assets/css/acerca_de.css">
    <title>Acerca de</title>
</head>
<body>
    <?php
        include 'views/partials/header.php';
    ?>
    <body>
        <img class="pcFondo" sizes="" src="../assets/img/pc.png" alt="imagen de la tabla de productos">
        <section class="contenedorPrincipal">
            <h1>Bienvenidos a "Mercado Lan"</h1>
            <img class="logo" sizes="" src="../assets/img/Logo.png" alt="logo">
            <h5><i>e-commerce de prueba (no es real). Desarrollado por 
                    <a href="https://d3vh4n5.github.io/miportfolio/">
                        <b>d3vh4n5</b>
                    </a>
                </i></h5>
            <hr>
            <blockquote>
                <p>
                    ⚠️ <strong>Aclaración:</strong> El proyecto estaba en <em><u>fase de desarrollo</u></em>, por lo
                    que muchos flujos pueden estar incompletos y se pueden encontrar errores, pero decidí dejarlo 
                    hasta acá, como simulación de proyecto real, ya que por distintos motivos no puedo dedicarle 
                    más tiempo, y como sólo es tp ampliado, ya lo doy por finalizado.
                </p>
            </blockquote>
            <p>
                Esta página es un proyecto de pruebas para aprender y practicar programación 
                en PHP. La misma inició como un TP de la materia "Programación Web" de mi carrera 
                en <a href="https://www.teclab.edu.ar/" >Teclab</a>, pero el 
                ejercicio solo se remitía a tener un formulario de productos, otro de categorías 
                y otra página donde se imprimían los mismos.
            </p>
            <p>
                Por curiosidad y ganas de aprender, una vez aprobado el TP, decidí continuar ampliándolo 
                e ir agregándole mas funciones, empezando por asemejar la hoja de impresiones de productos 
                a lo que sería la home de una página real.
            </p>
            <p>
                Si bién el diseño está inspirado en la página "Mercado Libre y algunas imágenes fueron 
                tomadas de la misma, todo está creado de forma "vanila" por mi, o al menos la mayor parte, ya que quería entender como 
                funcionaban todas las partes de un proyecto, entonces el motivo principal de esta app no era 
                el diseño visual, sino el aprendizaje en cuanto al funcionamiento.
                Es por ello que hice los carruseles "a mano" en
                JavaScript, como también las tarjetas, el header, sistema de sesiones etc..
            </p>
            <h4>Admin</h4>
            <p>
                Por motivos de seguridad, y para evitar "troleos", no puedo permitir el acceso al sector 
                de ADMIN de la aplicaicon, es decir, la zona donde el usuario administrador cargaría los 
                productos, pero a modo de idea, dejo unas imágenes para que se vea como es:
            </p>
            
            <h6><i>Captura de pantalla de la tabla de productos:</i></h6>
            <img class="imgTabla" sizes="" src="../assets/img/tablaproductos.png" alt="imagen de la tabla de productos">
            <h6><i>Captura de pantalla de la tabla de categorías:</i></h6>
            <img class="imgTabla" sizes="" src="../assets/img/tablacat.png" alt="Imagen de la tabla de categorias">
            <p>Cada una tiene sus respectivos formularios para ser completadas.</p>
            <h3>Tecnologías</h3>
            <p>Dentro de las tecnologías que usé en el proyecto se encuentran:</p>
            <img class="logo" sizes="" src="../assets/img/php.png" alt="logo php">
            <ul>
                <li>
                    <b>CSS y HTML:</b> A estos los pongo juntos porque siempre están en toda aplicación web, 
                    y es con ellos que está hecho el 99% de todo el diseño estructural y visible dentro 
                    de esta app.
                </li>
                <li>
                    <b>Bootstrap:</b> Esta librería fue aplicada unicamente en los formularios de registro 
                    e inicio de sesión, decidí implementarla en estos archivos para ir conociendo 
                    la tecnología. No lo apliqué en otros lugares porque querría practicar el 
                    diseño responsivo directamente con css.
                </li>
                <li>
                    <b>JavaScript:</b> Usado junto a JQuery para validaciones. También fue usado para
                    la creacion de los carruseles.
                </li>
                <li>
                    <b>JQuery:</b> Esta librería de JavaScript esta usada para validaciones 
                    en el lado del front de los formularios.
                </li>
                <li>
                    <b>PHP:</b> Con este lenguaje está desarrollado todo el backend de esta aplicación.
                    La versión utilizada es la 7.4.26.
                </li>
                <li>
                    <b>SQL:</b> En este proyecto hay un manejo directo de la base de datos, la cual trabajamos 
                    con <b>phpMyAdmin</b> (versión 5.1.1 / 4.9.7), y cargamos, buscamos, actualizamos y borramos las entidades a travéz de 
                    una clase que creamos durante la resolución del TP. Para este proyecto instalamos <b>Wampserver</b> (3.2.6) 
                    <em>junto con todos sus packetes anteriores</em> a la fecha (11-2022) como nos recomendaba el propio 
                    proceso de instalación.
                    <br>
                    <b>NOTA</b>: Para que el proyecto funcione (en caso de querer descargarlo y desplegarlo), debe estar aljado dentro de la misma carpeta donde 
                    esté Wampserver, preferiblemente en una carpeta de nombre www (C:\wamp64\www\carpetadelprotecto\).
                </li>
                <li>
                    <b>Netbeans:</b> Este fue el IDE utilizado para el desarrollo del código de la web.
                    Apache NetBeans IDE 12.6
                </li>
            </ul>
            <img sizes="" src="../assets/img/unnamed.gif" alt="">
            <p>Gracias por llegar hasta acá, espero que mi proyecto te haya resultado de interés. Cualquier 
                consulta no dude en 
                <a href="https://www.linkedin.com/in/juanangelbasgall/" target="_blank" >contactarme</a>.
            </p>
            <hr>
            <h5><i>Para saber más sobre otros proyectos en los que estoy trabajando visite:  
                    <a href="http://bit.ly/linkscv" target="newwindow" onclick="window.open('http://bit.ly/linkscv', 'newwindow', 'width=800, height=600'); return false;">
                        <b>Links del CV a proyectos</b>
                    </a>
                </i></h5>
        </section>
    <?php
        include 'views/partials/footer.php';
    ?>
    </body>
</html>
