<?php
session_start();
?>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/normalyze.css">
    <link rel="stylesheet" href="../assets/css/estiloshp.css">
    <link rel="stylesheet" href="../assets/css/bosqueda.css">
    <title>Busqueda</title>
</head>
    <body>
        <?php
            include 'views/partials/header.php';
        ?>
        <section class="contenedorPrincipal">
             <div class="tituloPrincipal">
                <h2 class="titulo">Resultados para: "<?php echo $_GET['valorBusqueda']; ?>"</h2>
                <hr></hr>
            </div>
            <table class="tablaProductos">
                <tbody>
                    <tr class="fila">  
                        <?php 
                        //count($lista_prod);
                        $lista_prod=productos::listar();
                        foreach ($lista_prod as $lista_prod) {
                            $idc = new categorias($lista_prod['id_categoria']);
                            $valorBusqueda = strtolower($_GET['valorBusqueda']);
                            if (strpos(strtolower($lista_prod['nombre_producto']), $valorBusqueda) !==false || strpos (strtolower($idc->nombre_categoria), $valorBusqueda) !==false || strpos( strtolower($lista_prod['descripcion']), $valorBusqueda) ){
                                ?>
                                <td>
                                    <div class="tarjetaProducto" onclick="document.location.href='<?php echo "/index.php?buy&id=".$lista_prod['id']; ?>'" >
                                        <p class="nombre"><?php echo $lista_prod['nombre_producto'] ?></p>
                                        <img class="imgProd" src="
                                             <?php
                                             if ($lista_prod['imagen']){
                                                echo "../assets/img/productos/".$lista_prod['imagen'];
                                             }else{
                                                echo "../assets/img/imagen.png";
                                             }       
                                             ?>
                                             " name="imagen producto" alt="">
                                        <p class="cat"><?php 

                                        echo $idc->nombre_categoria;
                                        ?>
                                        <p class="precio"><?php echo $lista_prod['precio'] ?></p>
                                        <p class="descripcion"><?php echo $lista_prod['descripcion'] ?> </p>
                                    </div>
                                </td>
                        <?php }} ?> 

                    </tr>

                </tbody>
            </table>
        </section>
        
        
        
        
        
        
        
    </body>
</html>
