<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Categorias</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../../assets/css/estilos.css">
        <!-- hago otro link igual, pero desde la perspectiva del controlador,
            es decir, como si el controlador fuera el html midmo. Sino no me 
            toma el css-->
        <link rel="stylesheet" type="text/css" href="../assets/css/estilos.css">
    </head>
    <body style="background: linear-gradient(rgb(13, 22, 22), darkslategray);">
        <div class="contenedor">
            <form method="post" action="./categorias.php" id="form_categorias">
                <!--<label>ID</label>
                <br>
                <input type="text" name="id" id="id">
                <br>-->
                <label>Nombre de la categoria</label>
                <br>
                <input type="text" name="categoria" value="<?php echo $cate->nombre_categoria; ?>" id="categoria" required>
                <br><br>
                <input type="hidden" name="codigo_categoria" value="<?php echo $cate->get_codigo(); ?>">
                <button type="button" id="btn_cancelar_cat" class="btn_cancelar">Cancelar</button>
                <button type="submit" name="action" value="guardar" class="btn_guardar">Guardar</button>
            </form>
        </div>
        <a class="btnHome" href="../index.php">🏠</a>
        
        
        
        <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
        <script src="../assets/js/main.js"></script>
        <script src="../assets/js/validaciones.js"></script>
                            
