<?php
session_start();
if (!isset($_SESSION['session1']['nombre']) || $_SESSION['session1']['nombre'] != '♛ admin'){
    header('location: login.php');
    return;//Esto impide que se ejecute el resto de la página en caso de error con el header o el session
}
?>
<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Categorias</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../assets/css/normalyze.css">
        <link rel="stylesheet" type="text/css" href="../assets/css/estilos.css">
    </head>
    <body style="background: linear-gradient(rgb(13, 22, 22), darkslategray);">
        <header>
            <img class="logo" sizes="" src="../assets/img/Logo.png" alt="" width="150px;">
            <a class="btnHome" href="../index.php">🏠</a>
            <div class="desplegableUsuario">
                <a href="#"><?php echo $_SESSION['session1']['nombre'] ?></a>
                <div class="menuUsuario">
                    <ul>
                        <li><a href="./logout.php">Desconectarse</a></li>
                        <li><a href="#">Opción</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="contenedor">
            <form method="post" action="./categorias.php" name="elformulario" id="form_categorias">
                <!--<label>ID</label>
                <br>
                <input type="text" name="id" id="id">
                <br>-->
                <label>Nombre de la categoria</label>
                <br>
                <input pattern="[A-Za-z0-9]{2,}" type="text" name="categoria" value="<?php echo $cate->nombre_categoria; ?>" id="categoria" maxlength="20" required>
                <br><br>
                <input type="hidden" name="codigo_categoria" value="<?php echo $cate->get_codigo(); ?>">
                <button type="button" id="btn_cancelar" class="btn_cancelar">Cancelar</button>
                <button type="submit" name="action" id="enviar" value="guardar" class="btn_guardar">Guardar</button>
            </form>
        </div>
        
        
        
        <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
        <script src="../assets/js/main.js"></script>
        <script src="../assets/js/validaciones.js"></script>
                            
