<?php
//session_start();
/*if (!isset($_SESSION['session1']['nombre'])){
    header('location: ./backend/login.php');
    return;
}*/
?>


<!DOCTYPE html>

<html>
    <head>
        <title style="font-family: monospace !important;">Compra</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./assets/css/normalyze.css">
        <link rel="stylesheet" type="text/css" href="./assets/css/estiloshp.css">
        <link rel="stylesheet" type="text/css" href="./assets/css/compra.css">
    </head>
    <body>
        <?php
            include 'backend/views/partials/header.php';
        ?>
        <section class="sectionCompra">
            <!--<input type="button" class="botonFoot" value="Agregar Producto" onclick="document.location.href='<?php echo $basepath."?buy&id=".$listaProductos['id']; ?>'">
            -->
            
            <?php /*
                echo "<pre>";
                print_r($_GET);
                echo "</pre>";
                
                echo "Quizas sea mejor no tener validación"
                . " aca pero si cuando se haga click en el boton comprar?";
                */
                $lista_prod = productos::listar();
                
                foreach ($lista_prod as $compra){
                    if ($compra['id'] == $_GET['id']){
               
            ?>
            <div class="contenedorCompra">
                <div class="contenedorProductoCompra">

                    
                    <img class="imgProd" src="
                         <?php
                         if ($compra['imagen']){
                            echo "./assets/img/productos/".$compra['imagen'];
                         }else{
                            echo "./assets/img/imagen.png";
                         }       
                         ?>
                         " name="imagen producto" alt="">
                    
            
                </div>
                <div class="contenedorDatosCompra">
                    <p class="nombre"><?= $compra['nombre_producto'] ?></p>
                    <p class="cat"><?= ($compra['categoria']) ?>
                        
                    <p class="precio"><?= '$'.$compra['precio'] ?></p>
                    <p class="descripcion"><?= $compra['descripcion'] ?> </p>
                    <form method="POST">
                        <label>Cantidad:</label>
                        <input type="number" class="stockCompra" name="cantidad" value='1' max="<?php echo $compra['stock'] ?>">  
                        <p class="descripcion"><?= $compra['stock'].' disponibles' ?> </p>
                        <button class="btn compra" name="action" value="comprar">Comprar</button>
                        <button class="btn agregar" name="action" value="agregarAlCarrito">Agregar al carrito</button>
                    </form>
                </div>
            </div>
            
            
            <?php 
                        die();
                    }
                }
            ?>
        </section>