<?php
//session_start();
if (!isset($_SESSION['session1']['nombre'])){
    header('location: ./backend/login.php');
    return;
}

$carritos = carritos::listar();
$cantidadItems = 0;
foreach ($carritos as $carrito){
    if ($carrito['id_usuario'] === $_SESSION['session1']['id']){
        $cantidadItems += 1;
    }
}
?>


<!DOCTYPE html>

<html>
    <head>
        <title style="font-family: monospace !important;">Confirmación</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../assets/css/normalyze.css">
        <link rel="stylesheet" type="text/css" href="../assets/css/estiloshp.css">
        <link rel="stylesheet" type="text/css" href="../assets/css/confirmacion_compra.css">
    </head>
    <body>
        <?php
            include '../backend/views/partials/header.php';
        ?>
        
        <section class="sectionCompra">
            <?php
                $lista_prod = productos::listar();
                
                foreach ($lista_prod as $compra){
                    if ($compra['id'] == $_GET['id']){
            ?>
            <div class="contenedorCompra">
                <div class="contenedorProductoCompra">

                    
                    <img class="imgProd" src="
                         <?php
                         if ($compra['imagen']){
                            echo "../assets/img/productos/".$compra['imagen'];
                         }else{
                            echo "../assets/img/imagen.png";
                         }       
                         ?>
                         " name="imagen producto" alt="">
                    
            
                </div>
                
                <div>
                    <p class="legales -uno">
                        Al confirmar aceptás los términos generales de la web y las condiciones particulares de este producto.
                        
                    </p>
                </div>
                
                <div class="contenedorDatosCompra">
                    <p class="nombre"><?php echo $compra['nombre_producto'] ?></p>
                    <p class="cat"><?= $compra['categoria'] ?> 
                    <p class="cat">Cantidad: <?php echo $_GET['c']; ?></p>
                    <p class="descripcion"><?php echo $compra['descripcion'] ?> </p>
                </div>
                    <p class="precio"><?php echo '$'.$compra['precio']*$_GET['c'] ?></p>
            </div>
            <div class="envios">
                <img class="imgEnvios" src="../assets/img/envio.avif">
                <p class="legales">Lorem ipsum dolor sit amet, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                <p class="precio">1250.30</p>
            </div>
            <div class="formaPago">
                <img class="imgPago" src="../assets/img/mercado_pago.webp">
                <p class="legales">Lorem ipsum dolor sit amet, quis nostrulaboris nisi ut aliquip ex ea commodo consequat. </p>
                <p class="precio">120.30</p>
            </div>
            <div class="formaPago">
                <p class="cat">Total</p>
                <p class="precio"><?php echo '$'.($compra['precio']*$_GET['c']+(120.3+1250.3)) ?></p>
            </div>
            
            <center>
                <form method="post">

                <button class="btn confirmar" name="action" value="confirmar" >Pagar y Confirmar</button>
                </form>
                <br>
                <!-- <img class="imgConstruccion" src="../assets/img/home-slider.gif"> 
                <h1>⚠️</h1>
                🛠️⚙️     Pagina en construcción     🧰🪚
                <br>
                -->
            </center>
            <?php 
                        die();
                    } 
                }
            ?>
        </section>
</html>
