<?php
//session_start();
/*if (!isset($_SESSION['session1']['nombre'])){
    header('location: ./backend/login.php');
    return;
}*/
?>


<!DOCTYPE html>

<html>
    <head>
        <title style="font-family: monospace !important;">Producto</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./assets/css/normalyze.css">
        <link rel="stylesheet" type="text/css" href="./assets/css/estiloshp.css">
        <link rel="stylesheet" type="text/css" href="./assets/css/confirmacion_compra.css">
    </head>
    <body>
        <header>
            <img class="logo" sizes="" src="./assets/img/Logo.png" alt="logo">

            <input type="checkbox" id="check">
            <label for="check"  class="mostrar-menu">
                &#8801
            </label>
            <nav class="menu">
                <a href="./index.php">Inicio</a>
                <a href="./index.php#ofertas">Ofertas</a>
                <a href="./backend/acerca_de.php">Acerca de</a>
                <?php
                if (isset($_SESSION['session1']['nombre'])){ ?>
                    <div class="desplegableUsuario">
                        <a href="#" class="btnUsusario"><?php echo $_SESSION['session1']['nombre'] ?></a>
                        <a href="#" class="carrito">🛒 3</a>
                        <div class="menuUsuario">
                            <ul>
                                <li><a href="./backend/logout.php">Desconectarse</a></li>
                                <?php 
                                    if ($_SESSION['session1']['nombre'] === '♛ admin'){
                                        echo "<li><a href='./backend/productos.php'>Agregar productos</a></li>";
                                        echo "<li><a href='./backend/categorias.php'>Agregar categorías</a></li>";
                                        echo "<li><a href='./backend/views/incompleto.html'>Ver estadísticas</a></li>";
                                    }else{
                                        echo "<li><a href='./backend/views/incompleto.html'>Cambiar contraseña</a></li>";
                                        echo "<li><a href='./backend/views/incompleto.html'>Cambiar email</a></li>";
                                        echo "<li><a href='./backend/views/incompleto.html'>Opción</a></li>";
                                    }
                                ?>
                            </ul>
                        </div>
                    </div> <?php
                }else{ ?>
                    <input type="button" class="botonLog" value="Log in" onclick="document.location.href='./backend/login.php'">
                <?php } ?>
                <label for="check"  class="esconder-menu">
                    &#215
                </label>
            </nav>
        </header>
        <section class="sectionCompra">
            <!--<input type="button" class="botonFoot" value="Agregar Producto" onclick="document.location.href='<?php echo $basepath."?buy&id=".$listaProductos['id']; ?>'">
            -->
            
            <?php /*
                echo "<pre>";
                print_r($_GET);
                echo "</pre>";
                
                echo "Quizas sea mejor no tener validación"
                . " aca pero si cuando se haga click en el boton comprar?";
                */
                $lista_prod = productos::listar();
                
                foreach ($lista_prod as $compra){
                    if ($compra['id'] === $_GET['id']){/*
                        $focusCompra = new productos($_GET['id']);
                        $focusCompra->nombre_producto = $compra['nombre_producto'];
                        $focusCompra->descripcion = $compra['nombre:producto'];
                        $focusCompra->precio = $compra['nombre:producto'];
                        $focusCompra->id_categoria = $compra['nombre:producto'];
                        $focusCompra->imagen = $compra['nombre:producto'];
                        $focusCompra->stock = $compra['nombre:producto'];*/
               
            ?>
            <div class="contenedorCompra">
                <div class="contenedorProductoCompra">

                    
                    <img class="imgProd" src="
                         <?php
                         if ($compra['imagen']){
                            echo "./assets/img/productos/".$compra['imagen'];
                         }else{
                            echo "./assets/img/imagen.png";
                         }       
                         ?>
                         " name="imagen producto" alt="">
                    
            
                </div>
                <div class="contenedorDatosCompra">
                    <p class="nombre"><?php echo $compra['nombre_producto'] ?></p>
                    <p class="cat"><?php 
                    $idc = new categorias($compra['id_categoria']);
                    echo $idc->nombre_categoria;
                    ?>
                        
                    <p class="precio"><?php echo '$'.$compra['precio'] ?> x cantidad</p>
                    <p class="descripcion"><?php echo $compra['descripcion'] ?> </p>
                     <label>Cantidad: (Será un numero recuperado edla base de datos)</label>
    
                </div>
            </div>
            
            
    <center>
        <button class="btn confirmar" name="action" value="confirmar" >Pagar y Confirmar</button>
        <br>
        <img class="imgConstruccion" src="./assets/img/home-slider.gif">
        <h1>⚠️</h1>
        🛠️⚙️     Pagina en construcción     🧰🪚
        <br>
        <?php 
            echo 'Vas a comprar el producto: '.$_GET['id'];
        ?>
    </center>
            <?php 
                        die();
                    }
                }
            ?>
        </section>
</html>
