<?php
session_start();
if (!isset($_SESSION['session1']['nombre']) || $_SESSION['session1']['nombre'] != '♛ admin'){
    header('location: login.php');
    return;//Esto impide que se ejecute el resto de la página en caso de error con el header o el session
}
?>


<!DOCTYPE html>

<html>
    <head>
        <title>Lista de Categorías</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../assets/css/normalyze.css">
        <link rel="stylesheet" type="text/css" href="../assets/css/estilos.css">
    </head>
    <body>
        <header>
            <img class="logo" sizes="" src="../assets/img/Logo.png" alt="" width="150px;">
            <a class="btnHome" href="../index.php">🏠</a>
            <div class="desplegableUsuario">
                <a href="#"><?php echo $_SESSION['session1']['nombre'] ?></a>
                <div class="menuUsuario">
                    <ul>
                        <li><a href="./logout.php">Desconectarse</a></li>
                        <?php 
                            if ($_SESSION['session1']['nombre'] === '♛ admin'){
                                echo "<li><a href='./productos.php'>Agregar productos</a></li>";
                                echo "<li><a href='./categorias.php'>Agregar categorías</a></li>";
                                echo "<li><a href='./views/incompleto.html'>Ver estadísticas</a></li>";
                            }
                        ?>
                    </ul>
                </div>
            </div>
        </header>
        <center>  
            <div>
                <h1 class="hAdmin">Admin</h1>
                <h2>✅ Lista de categorías &#9989️</h2>
                <p class="warningMsj">⚠️ → Si la categoría está en uso no se podrá borrar ⚠ ⚠️</p>
                <table>
                    <thead> 
                        <tr class="trNoHover">
                            <th class="titulosTablas">Acción</th>
                            <th class="titulosTablas"> ID categorias</th> 
                            <th class="titulosTablas">Nombre</th>  
                        <tr>    
                    </thead> 
                    <tbody>   
                        <?php 
                        //include '../class/autoload.php';
                        $lista_ctg = categorias::listar();
                        $alter = 0;
                        foreach($lista_ctg as $listaCategorias){
                            $alter = $alter + 1;
                            ?>
                        <tr>
                            <td <?php if (($alter % 2) == 0 ){echo "style='background: #e7e7e7 !important;'"; } ?> >
                                <a class="botonActionTabla E" href="<?php echo $basepath."?edit&id=".$listaCategorias['id']; ?>">&#9999️️</a><!-- &#9998️ &#9999️ Los emogis que no se ven como se espera, hay que inspeccionarlos, darle click derecho, buscar en google, te lleva a una lsita, pero si le das al boton copiar siguen sin andar, hay que SELECCIONARLOS con el mouse, y luego copiarlos y pegarlos // OJO!!, me di cuenta de que tienen como otro caracter invisible al lado, son 2, te das cuenta con las flechicas del teclado-->
                                <a class="botonActionTabla" href="<?php echo $basepath."?rem&id=".$listaCategorias['id'];?>">❌</a>
                            </td>
                            <td <?php if (($alter % 2) == 0 ){echo "style='background: #e7e7e7 !important;'"; } ?>  ><?php echo $listaCategorias['id'] ?></td> 
                            <td <?php if (($alter % 2) == 0 ){echo "style='background: #e7e7e7 !important;'"; } ?>  ><?php echo $listaCategorias['nombre_categoria'] ?></td> 
                        </tr>    
                        <?php } ?> 
                    </tbody>
                    <tfoot>
                        <tr class="trNoHover">
                            <td colspan="3" class="tfoot">
                                <input type="button" class="botonFoot" value="Agregar Categoría" onclick="document.location.href='<?php echo $basepath."?add" ?>'">
                                <input type="button" class="botonFoot" value="Agregar Productos" onclick="document.location.href='./productos.php'">
                            </td>
                        </tr>
                    </tfoot>
                </table>      
            </div>  
        </center>
       <br><br><br><br>
  
 </body>  
</html> 