<?php
session_start();
if (!isset($_SESSION['session1']['nombre']) || $_SESSION['session1']['nombre'] != '♛ admin'){
    header('location: login.php');
    return;//Esto impide que se ejecute el resto de la página en caso de error con el header o el session
}
?>


<!DOCTYPE html>

<html>
    <head>
        <title>Lista de Productos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../assets/css/normalyze.css">
        <link rel="stylesheet" type="text/css" href="../assets/css/estilos.css">
        <link rel="stylesheet" type="text/css" href="../assets/css/tabla_productos_responsive.css">
    </head>
    <body>
        <?php
            include 'views/partials/header_adm.php';
        ?>
    
        <center>  
            <h1 class="hAdmin">Admin</h1>
            <h2>✅ Lista de productos &#9989</h2>
             <table >
               <thead> 
                 <tr class="trNoHover"> 
                    <th class="titulosTablas">Accion</th>
                    <th class="titulosTablas"> ID productos</th> 
                    <th class="titulosTablas">Nombre</th>   
                    <th class="titulosTablas">Descripcion</th>  
                    <th class="titulosTablas">Precio</th>  
                    <th class="titulosTablas">Stock</th>  
                    <th class="titulosTablas">Categoria ID</th>
                    <th class="titulosTablas">Categoría</th>
                    <th class="titulosTablas">Imagen</th>
                 <tr>    
               </thead> 
               <tbody>   
                   <?php 
                   //include '../class/autoload.php';
                   $lista_prod = productos::listar();
                   $alter = 0;
                   foreach($lista_prod as $listaProductos){ 
                       ?> 
                   <tr> 
                       <td class="actionBtns">
                           <a class="botonActionTabla E" href="<?php echo $basepath."?edit&id=".$listaProductos['id']."&imagen=".$listaProductos['imagen']; ?>">✏️</a>
                           <a class="botonActionTabla" href="<?php echo $basepath."?rem&id=".$listaProductos['id']."&imagen=".$listaProductos['imagen'];?>">❌</a>
                       </td>
                       <td data-titulo="ID: " ><?php echo $listaProductos['id'] ?></td> 
                       <td data-titulo="Nombre: " ><?php echo $listaProductos['nombre_producto'] ?></td> 
                       <td data-titulo="Descripción: " style="max-width: 500px;"><?php echo $listaProductos['descripcion'] ?></td>
                       <td data-titulo="Precio:" ><?php echo "$ ".$listaProductos['precio'] ?></td>
                       <td data-titulo="Stock:" ><?php echo $listaProductos['stock'] ?></td>
                       <td data-titulo="Categoría: " ><?php echo $listaProductos['id_categoria'] ?></td>
                       <td data-titulo="ID Cat: " ><?php echo categorias::nombrecat($listaProductos['id_categoria']); ?></td>
                       <td data-titulo="Img: " ><?php echo $listaProductos['imagen'] ?></td>
                   </tr>
                   <?php } ?> 
               </tbody>  
               <tfoot>
                   <tr class="trNoHover">
                       <td colspan="9" class="tfoot">
                           <input type="button" class="botonFoot" value="Agregar Producto" onclick="document.location.href='<?php echo $basepath."?add" ?>'">
                           <input type="button" class="botonFoot" value="Agregar Categorías" onclick="document.location.href='./categorias.php'">
                       </td>
                   </tr>
               </tfoot>
             </table>      
          </div>  
        </center>
    <!--
    <script src="../assets/js/tablaproductos.js"></script>
    -->
</body>  
</html> 