<?php
session_start();
if (!isset($_SESSION['session1']['nombre']) || $_SESSION['session1']['nombre'] != '♛ admin'){
    header('location: login.php');
    return;//Esto impide que se ejecute el resto de la página en caso de error con el header o el session
}
?>


<!DOCTYPE html>

<html>
    <head>
        <title style="font-family: monospace !important;">Lista de Productos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../assets/css/normalyze.css">
        <link rel="stylesheet" type="text/css" href="../assets/css/estilos.css">
    </head>
    <body>
        <header>
            <img class="logo" sizes="" src="../assets/img/Logo.png" alt="" width="150px;">
            <a class="btnHome" href="../index.php">🏠</a>
            <div class="desplegableUsuario">
                <a href="#"><?php echo $_SESSION['session1']['nombre'] ?></a>
                <div class="menuUsuario">
                    <ul>
                        <li><a href="./logout.php">Desconectarse</a></li>
                        <li><a href="#">Opción</a></li>
                    </ul>
                </div>
            </div>
        </header>
    
        <center>  
            <div> <h1>Admin</h1>
            <div> <h2>✅ Lista de productos &#9989</h1>
             <table >
               <thead> 
                 <tr class="trNoHover"> 
                    <th class="titulosTablas">Accion</th>
                    <th class="titulosTablas"> ID productos</th> 
                    <th class="titulosTablas">Nombre</th>   
                    <th class="titulosTablas">Descripcion</th>  
                    <th class="titulosTablas">Precio</th>  
                    <th class="titulosTablas">Categoria ID</th>
                    <th class="titulosTablas">Categoría</th>
                    <th class="titulosTablas">Imagen</th>
                 <tr>    
               </thead> 
               <tbody>   
                   <?php 
                   //include '../class/autoload.php';
                   $lista_prod = productos::listar();
                   $alter = 0;
                   foreach($lista_prod as $listaProductos){ 
                       $alter = $alter + 1;
                       ?> 
                   <tr> 
                       <td <?php if (($alter % 2) == 0 ){echo "style='background: #e7e7e7 !important;'"; } ?> >
                           <a class="botonActionTabla E" href="<?php echo $basepath."?edit&id=".$listaProductos['id']; ?>">✏️</a>
                           <a class="botonActionTabla" href="<?php echo $basepath."?rem&id=".$listaProductos['id'];?>">❌</a>
                       </td>
                       <td <?php if (($alter % 2) == 0 ){echo "style='background: #e7e7e7 !important;'"; } ?> ><?php echo $listaProductos['id'] ?></td> 
                       <td <?php if (($alter % 2) == 0 ){echo "style='background: #e7e7e7 !important;'"; } ?> ><?php echo $listaProductos['nombre_producto'] ?></td> 
                       <td style="max-width: 500px;<?php if (($alter % 2) == 0 ){echo 'background: #e7e7e7 !important;'; } ?>"><?php echo $listaProductos['descripcion'] ?></td>
                       <td <?php if (($alter % 2) == 0 ){echo "style='background: #e7e7e7 !important;'"; } ?> ><?php echo "$ ".$listaProductos['precio'] ?></td>
                       <td <?php if (($alter % 2) == 0 ){echo "style='background: #e7e7e7 !important;'"; } ?> ><?php echo $listaProductos['id_categoria'] ?></td>
                       <td <?php if (($alter % 2) == 0 ){echo "style='background: #e7e7e7 !important;'"; } ?> ><?php echo categorias::nombrecat($listaProductos['id_categoria']); ?></td>
                       <td <?php if (($alter % 2) == 0 ){echo "style='background: #e7e7e7 !important;'"; } ?> ><?php echo $listaProductos['imagen'] ?></td>
                   </tr>
                   <?php } ?> 
               </tbody>  
               <tfoot>
                   <tr class="trNoHover">
                       <td colspan="8" class="tfoot">
                           <input type="button" class="botonFoot" value="Agregar Producto" onclick="document.location.href='<?php echo $basepath."?add" ?>'">
                           <input type="button" class="botonFoot" value="Agregar Categorías" onclick="document.location.href='./categorias.php'">
                       </td>
                   </tr>
               </tfoot>
             </table>      
          </div>  
        </center>
    <!--
       <br><br><br><br>
       <a class="a" href="./views/productos.html">Agregar más productos</a>
       <a class="a" href="./views/categorias.html">Agregar Categorías</a>
       <br>
       <br>
    -->
       
</body>  
</html> 