<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Mercado Lan</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link  href="../assets/css/estiloslog.css" rel="stylesheet" type="text/css">
        
    </head>
    <body>
        
        
        <div class="container">
            
            <div class="row justify-content-md-center">
                <img src="../assets/img/Logo2.png" class="col-2">
            </div>
            <div class="row justify-content-md-center">
                <div class="col-4">
                    <form method="post" name="formLog">
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Dirección de Email</label>
                          <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" autofocus>
                          
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                          <input type="password" name="pass" class="form-control" id="exampleInputPassword1">
                          <div id="links">
                          <a id="recuperarPass" class="RecuperarPass" href="https://localhost/MIPROYECTO/backend/views/incompleto.html">🔒 Recuperar contraseña</a>
                          
                          <a id="registrarse" class="Registrarse" href="https://localhost/MIPROYECTO/backend/registrarse.php">Registrarse 👤 </a>
                          </div>
                          </div>
                        <a type="button" name="cancelar" href="../index.php"; class="btn btn-secondary">Cancelar</a>
                        <button type="submit" name="enviar" action="enviar" class="btn btn-primary">Entrar</button>
                    </form>
                </div>
            </div>
        </div
        
        
        
        
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </body>
</html>
