<?php
session_start();
if (!isset($_SESSION['session1']['nombre']) || $_SESSION['session1']['nombre'] != '♛ admin'){
    header('location: login.php');
    return;//Esto impide que se ejecute el resto de la página en caso de error con el header o el session
}
?>
<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Productos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../assets/css/normalyze.css">
        <link rel="stylesheet" type="text/css" href="../assets/css/estilos.css">
        <link rel="stylesheet" type="text/css" href="../../assets/css/estilos.css">
    </head>
    <body style="background-image: url(../assets/img/binary-code-background-vector.jpg);
          background-size: cover;">
        <header>
            <img class="logo" sizes="" src="../assets/img/Logo.png" alt="" width="150px;">
            <a class="btnHome" href="../index.php">🏠</a>
            <div class="desplegableUsuario">
                <a href="#"><?php echo $_SESSION['session1']['nombre'] ?></a>
                <div class="menuUsuario">
                    <ul>
                        <li><a href="./logout.php">Desconectarse</a></li>
                        <?php 
                            if ($_SESSION['session1']['nombre'] === '♛ admin'){
                                echo "<li><a href='./productos.php'>Agregar productos</a></li>";
                                echo "<li><a href='./categorias.php'>Agregar categorías</a></li>";
                                echo "<li><a href='./views/incompleto.html'>Ver estadísticas</a></li>";
                            }
                        ?>
                    </ul>
                </div>
            </div>
        </header>
        <fieldset class="contenedor">
            <legend
                style="
                    padding: 4px 15px;
                    border-top: 1px solid blue;
                    border-left: 1px solid blue;
                    border-right: 1px solid blue;
                    border-radius: 0 10px 0 10px;
                    background: linear-gradient(rgba(0, 0, 0, 0.712), rgba(66, 105, 205, 0.3));
                    backdrop-filter: blur(20px);

                    box-shadow: 0px -5px 15px 3px rgba(66, 105, 205, 0.6);
                "
                >Ingreso de productos</legend>
            <form method="post" name="elformulario" action="./productos.php" id="form_productos" enctype="multipart/form-data">
                <!-- 
                <label>ID</label>
                <br>
                <input type="text" name="id" id="pId" required>
                <br>
                 -->
                <label>Nombre del producto</label>
                <br>
                <input type="text" pattern="([A-z0-9À-ž\s]){2,}" maxlength='30' value="<?php echo $prod->nombre_producto; ?>" placeholder="Ej: pan" name="producto" id="pNombre" required>
                <br>
                <label>Imagen del producto</label>
                <br>
                <input type="file" name="imagen" class="input_text" id="pImagen" required>
                <br>
                <label>Descripción</label>
                <br>
                <textarea type="text" pattern="[A-Za-z0-9]{2,}"  maxlength='500' id="pDescripcion" name="descripcion" placeholder="Ej: marca y caracteristicas" value="<?php echo $prod->descripcion; ?>" id="pDescripcion" required><?php echo $prod->descripcion; ?></textarea>
                <br>
                <label>Precio</label>
                <br>
                <input type="number" step="0.01" maxlength='9' placeholder="Ingrese el precio" value="<?php echo $prod->precio; ?>" name="precio" id="pPrecio" required>
                <br>
                <label>Categoria</label>
                <br>
                <select id="categoria" name="categoria" autocomplete="off" required>
                    <option value="<?php echo $prod->id_categoria ?>">
                        <?php
                        if ($prod->id_categoria){
                            echo categorias::nombrecat($prod->categoria);
                        } else {
                            echo "Seleccionar..";
                        }
                        ?>
                    </option>
                    <?php 
                    $categorias = categorias::listar();
                    foreach ($categorias as $cat) { ?>
                    <option value="<?php echo $cat['id']; ?>">
                    <?php echo $cat['nombre_categoria']; ?>
                    </option>
                    <?php } ?>
                </select>
                <br>
                <input type="hidden" name="codigo_producto" value="<?php echo $prod->get_codigo(); ?>">
                <input type="hidden" name="imagen_anterior" value="<?php echo $prod->imagen; ?>">
                <br><br>
                <button type="button" id="btn_cancelar" class="btn_cancelar">Cancelar</button>
                <button type="submit" name="action" id="enviar" value="agregar" class="btn_guardar">Guardar</button>
            </form>
        </fieldset>
        
        
        
        <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
        <script src="../assets/js/main.js"></script>
        <script src="../assets/js/validaciones.js"></script>
    </body>
</html>
