<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Productos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" type="text/css" href="../../assets/css/estilos.css">
    </head>
    <body style="background: linear-gradient(rgb(13, 22, 22), darkslategray);">
        <div class="contenedor">
            <form method="post" action="./productos.php" id="form_productos" enctype="multipart/form-data">
                <!-- 
                <label>ID</label>
                <br>
                <input type="text" name="id" id="pId" required>
                <br>
                 -->
                <label>Nombre del producto</label>
                <br>
                <input type="text" value="<?php echo $prod->nombre_producto; ?>" placeholder="Ej: pan" name="producto" id="pNombre" required>
                <br>
                <label>Imagen del producto</label>
                <br>
                <input type="file" name="imagen" class="input_text" id="pImagen" required>
                <br>
                <label>Descripción</label>
                <br>
                <textarea type="text" id="pDescripcion" name="descripcion" placeholder="Ej: marca y caracteristicas" value="<?php echo $prod->descripcion; ?>" id="pDescripcion" required><?php echo $prod->descripcion; ?></textarea>
                <br>
                <label>Precio</label>
                <br>
                <input type="number" step="0.01" placeholder="Ingrese el precio" value="<?php echo $prod->precio; ?>" name="precio" id="pPrecio" required>
                <br>
                <label>Categoria</label>
                <br>
                <select id="categoria" name="categoria" autocomplete="off" required>
                    <option value="<?php echo $prod->id_categoria ?>">
                        <?php
                        if ($prod->id_categoria){
                            echo categorias::nombrecat($prod->categoria);
                        } else {
                            echo "Seleccionar..";
                        }
                        ?>
                    </option>
                    <?php 
                    $categorias = categorias::listar();
                    foreach ($categorias as $cat) { ?>
                    <option value="<?php echo $cat['id']; ?>">
                    <?php echo $cat['nombre_categoria']; ?>
                    </option>
                    <?php } ?>
                </select>
                <br>
                <input type="hidden" name="codigo_producto" value="<?php echo $prod->get_codigo(); ?>">
                <br><br>
                <button type="button" id="btn_cancelar" class="btn_cancelar">Cancelar</button>
                <button type="submit" name="action" value="agregar" class="btn_guardar">Guardar</button>
            </form>
        </div>
        <a class="btnHome" href="../index.php">🏠</a>
        
        
        
        <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
        <script src="../assets/js/main.js"></script>
        <script src="../assets/js/validaciones.js"></script>
    </body>
</html>
