<?php
session_start();
?>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/estiloshp.css">
    <link rel="stylesheet" href="./assets/css/normalyze.css">
    <title>Mercado Lan</title>
</head>
<body>
    <header>
        <img class="logo" sizes="" src="./assets/img/Logo.png" alt="logo">
        <?php
        if (isset($_SESSION['session1']['nombre'])){ ?>
            <div class="desplegableUsuario">
                <a href="#" class="btnUsusario"><?php echo $_SESSION['session1']['nombre'] ?></a>
                <a href="#" class="carrito">🛒 3</a>
                <div class="menuUsuario">
                    <ul>
                        <li><a href="./backend/logout.php">Desconectarse</a></li>
                        <li><a href="#">Cambiar contraseña</a></li>
                        <li><a href="#">Cambiar email</a></li>
                        <li><a href="#">Opción</a></li>
                    </ul>
                </div>
            </div> <?php
        }else{ ?>
            <input type="button" class="botonLog" value="Loguearse y cargar productos" onclick="document.location.href='./backend/login.php'">
        <?php } ?>
    </header>
    <section class="contenedorPrincipal">
        <div class="tituloPrincipal">
            <h2 class="titulo">Productos</h2>
            <hr></hr>
        </div>


        <table class="tablaProductos">
            <tbody>
                <?php
                //include '../class/autoload.php';
                while($contador<$lista_largo){ ?> 
                    <tr class="fila">  
                        <?php 
                        //count($lista_prod);
                        for ($i=1; $i<=4 && $contador<$lista_largo; $i++) { ?>
                            <td>
                                <div class="tarjetaProducto" onclick="document.location.href='<?php echo $basepath."?buy&id=".$lista_prod[$contador]['id']; ?>'" >
                                    <p class="nombre"><?php echo $lista_prod[$contador]['nombre_producto'] ?></p>
                                    <img class="imgProd" src="
                                         <?php
                                         if ($lista_prod[$contador]['imagen']){
                                            echo "./assets/img/productos/".$lista_prod[$contador]['imagen'];
                                         }else{
                                            echo "./assets/img/imagen.png";
                                         }       
                                         ?>
                                         " name="imagen producto" alt="">
                                    <p class="cat"><?php 
                                    $idc = new categorias($lista_prod[$contador]['id_categoria']);
                                    echo $idc->nombre_categoria;
                                    ?>
                                    <p class="precio"><?php echo $lista_prod[$contador]['precio'] ?></p>
                                    <p class="descripcion"><?php echo $lista_prod[$contador]['descripcion'] ?> </p>
                                </div>
                                <?php $contador++; ?>
                            </td>
                        <?php } ?> 

                    </tr>
                <?php } ?> 
            </tbody>
        </table>
        <table class="tablaMiguel">
            <thead>
                <tr class="tablaMiguel">
                    <th class="tablaMiguel">Productos</th>
                </tr>
            </thead>
            
            <tbody>
                <tr class="tablaMiguel">
                    <?php
                    foreach ($lp as $indice => $producto){ ?>
                    <td class="tablaMiguel"><?php 
                    echo $producto['nombre_producto'];
                    echo $producto['id_categoria'];
                    $cat = new categorias($producto['id_categoria']);
                    echo $cat->nombre_categoria; ?></td>
                    <?php if (($indice + 1) % 4 == 0){ ?>
                </tr>
                <tr class="tablaMiguel">
                    <?php } } ?> <!-- uno es del foreach y el otro es del if -->
                </tr>
            </tbody>
        </table>
        <footer>
            <img src="./assets/img/hansicon.png" class="logosFoot" />
            <a class="autor" href="https://www.linkedin.com/in/juanangelbasgall/">
                "Mercado Lan" -> Por @Juan Angel Basgall &#128640 Copyright © 12-2022 MercadoLan
            </a>
            <img class="logosFoot" sizes="" src="./assets/img/Teclablogo.png" alt="">
        </footer>
    </section>
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<script src="./assets/js/main.js"></script>
    
</body>
</html>