/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 24 nov 2022, 22:04:29
    Author     : Hans
*/

body{
    height: 100vh;
    background: #e7e7e7;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    /*font-family: monospace;*/
}
/*================= Heather =====================*/

header{
    padding: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    background-color: #222222;
    width: 100%;
}

/*============ Botón desplegable de usuario ==============*/
.desplegableUsuario{
    border: 2px solid transparent;
    width: fit-content;
    position: relative;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}
.admin{
    color: #2f4ed6;
    margin: 4px;
}
.desplegableUsuario > a{
    height: fit-content;
    padding: 2px 8px;
    color: yellowgreen;
    text-decoration: none;
    box-sizing: border-box;
    outline: 1px solid yellowgreen;
    outline-style: double;
    border-radius: 5px;
}
.desplegableUsuario > a:hover{
    box-shadow: 0px 0px 3px 3px #94e733,
                0px 0px 3px 1px #94e733 inset;
    text-shadow: 0px 0px 2px #94e733;
}
.menuUsuario{
    display: none;
    border-radius: 3px;
    overflow: hidden;
    background: linear-gradient( to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3) );
    z-index: 2;
    backdrop-filter: blur(2rem);
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.2);
    position: absolute;
    margin-top: 1px;
    right: 5px;
    min-width: 160px;

}
.desplegableUsuario:hover .menuUsuario{
    display: block;
}
.menuUsuario ul{
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
}
.desplegableUsuario .menuUsuario li a{
    color: black;
    display: block;
    padding: 5px;
    text-decoration: none;
}
.desplegableUsuario .menuUsuario li a:hover{
    background-color: #2f4ed6;
    color: aliceblue;
}
/*============= Pagina en construcción ================*/
#pagina{
    overflow: hidden;
}
.pagina{
    width:40%;
    border-radius: 30px;
}

/*================== Formularios ====================*/
.contenedor{
	padding: 4rem;
	background-color: rgba(0, 0, 0, 0.712);
        backdrop-filter: blur(3px);
	border: 1px solid blue;
        box-shadow: 0px 5px 15px 3px rgba(66, 105, 205, 0.9);
	height: fit-content;
	width: fit-content;
	border-radius: 0 20px;
	color: #FFFFFF;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
label,input,form,button {
	margin: 0.5rem;
}
.btn_guardar{
	cursor: pointer;
	padding: 5px 15px;
	color: #FFFFFF;
	font-weight: bold;
	background: linear-gradient(to right bottom, blue, greenyellow);
	border-radius: 10px;
	animation: pulso 3s 1s ease-out infinite;
	transition: 0.2s;
}
.btn_guardar:hover{
	transform: scale(1.1);
	box-shadow: 0px 0px 5px 10px rgba(47, 79, 79, 0.651);
	animation: none;
	transition: 0.2s;
}
.btn_guardar:active{
	background: black;
	box-shadow: 0px 0px 5px 10px rgba(245, 245, 245, 0.5);
	animation: none;
}
.btn_cancelar{
        background-color: rgba(0, 0, 0, 0.512);
        cursor: pointer;
	padding: 5px 15px;
	color: #FFFFFF;
	border-radius: 10px;
	transition: 0.2s;
        color: red;
        border: 1px solid red;
}
.btn_cancelar:hover{
        background-color: rgba(250, 200, 200, 0.512);
	transform: scale(1.1);
	box-shadow: 0px 0px 5px 3px rgba(200, 12, 12, 0.651),
                    0px 0px 5px 3px rgba(200, 12, 12, 0.651)inset;
	animation: none;
	transition: 0.2s;
}
/*================== Tablas ====================*/
.warningMsj{
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace !important;
    font-weight: 600;
    color: orangered;
    font-size: 16px;
}
table,td,th,tr {
    font-family: arial;
    padding: 4px;
    text-align: center;
    border: 1px solid rgb(7, 24, 97, 0.3);
    border-radius: 6px;
    background: rgb(253,253,253);
}
td{
    max-width: 500px;
    overflow: hidden;
}
tr:hover{
    user-select: none;
    transition: 0.2s;
    transform: scale(1.005);
    background: lightgreen !important;
    box-shadow: 0px 0px 5px 5px rgb(0,0,0, 0.3);
}
.titulosTablas{
    color: #FFFFFF;
    background: #2f4ed6;
}
.tfoot{
    text-align: center;
    padding: 20px;
}
.trNoHover:hover{
    transform: scale(1);
    box-shadow: 0px 0px 5px 5px rgb(0,0,0, 0);
}
/*================== Botones ====================*/
.botonFoot{
    text-decoration: none;
    cursor: pointer;
    color: #000;
    margin: 1rem;
    padding: 8px 30px;
    border: 1px solid green;
    font-weight: 900;
    font-size: 14px;
    transition: 0.2s;
    border-radius: 6px;
    background: linear-gradient(180deg,#94e733,#36d521 50%,#1ec725 51%,#008e3a);
    font-family: playbold,Arial,sans-serif;
    text-shadow: 1px 1px #9fe75c;
}
.botonFoot:hover{
    transform: scale(1.03);
    background: linear-gradient(180deg,#94e733,#94e733 50%,#1ec725 51%,#008e3a);
    transition: 0.2s;
    border: 1px solid #061a02;
    box-shadow: 0px 0px 3px 3px rgb(159, 231, 92, 0.6);
}
.botonActionTabla{
    border-radius: 4px;
    font-weight: 700;
    background: rgba(0, 0, 0, 0.712);
    text-decoration: none;
    color: orangered;
    border: 1px solid orangered;
    padding: 2px;
    margin: 10px;
}
.botonActionTabla:hover{
    background: black;
    transition: 0.2s;
    box-shadow: 0px 0px 10px 5px rgb(132, 132, 252);
    color: rgb(132, 132, 252);
    border: 1px solid rgb(132, 132, 252);
    
}

.E{
    background: rgba(0, 0, 0, 0.712);
    color: #ffbd33;
    border: 1px solid #ffbd33;
}
.btnHome{
    height: 50px;
    width: 50px;
    display: grid;
    place-items: center;
    font-size: 30px;
    background: #222222;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    box-shadow: 0px 1px 10px 3px rgba(200,150,75,0.7);
    /*animation: pulso 3s 1s ease-out infinite;*/
}
.btnHome:hover{
    animation: none;
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 5px rgb(132, 132, 252);
    color: rgb(132, 132, 252);
    border: 1px solid rgb(132, 132, 252);
}


@keyframes pulso {
	0%{
		transform: scale(1.05);
	}

	10%{
		transform: scale(1);
		box-shadow: 0px 0px 5px 3px rgba(173, 216, 230, 0.74);
	}
	60%{
		box-shadow: 0px 0px 5px 50px rgba(173, 216, 230, 0.0);
	}
}