
/* 
    Created on : 24 nov 2022, 22:04:29
    Author     : Hans
*/

body{
    height: 102vh;
    background: #e7e7e7;
    color: #222222;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
/*================== Heather ====================*/

header{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    background-color: #222222;
    width: 100%;
    height: 80px;
}
.logo{
    height: 140px;
    border: 50px solid #222222;
    border-radius: 30px;
}
.botonLog{
    text-decoration: none;
    background: transparent;
    padding: 5px 50px 9px 50px;
    color: rgb(132, 132, 252);
    border: 1px solid rgb(132, 132, 252);
    display: flex;
    position: absolute;
    top: 25px;
    right: 20px;
}
.botonLog:hover{
    cursor:pointer;
    text-shadow: 0px 0px 4px rgb(132, 132, 252);
    box-shadow: 0px 0px 10px 3px rgb(132, 132, 252),
                0px 0px 5px 1px rgb(132, 132, 252) inset;
}

.imgProd{
    box-shadow: 0px 0px 1px 1px black;
    width:auto;
    height: 200px;
}


/*================== Títulos ====================*/

h2{
    font-size: 40px;
    font-weight: 150;
    font-variant: small-caps;
    width: 100%;
    margin-bottom: 0px; 
}
.tituloPrincipal{
    width: 60%;
}
hr{
    color: red;
    margin-bottom: 30px;
}

/*============ contenedor principal =============*/

.contenedorPrincipal{
    
    position: relative;
    bottom: -40px;
    height: auto;
    display: grid;
    height:100vh;
    place-items: center;
    margin-top: 200px;
    width: 100vw;
    padding: 2rem;
    overflow: scroll;
}
/*======= Tabla de tarjetas de productos =======*/

.tablaProductos{
    width: 1200px;
    min-width: 1200px;
    max-width: 1200px;
}

/*================ Tarjetas ===================*/
.tarjetaProducto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 415px;
    width: 260px;
    color: black;
    transition: 0.1s;
    border: 1px solid rgb(87, 86, 86);
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0px 1px 4px 1px rgba(70, 69, 69, 0.3);
    background: rgb(253, 253, 253);
  
}
.tarjetaProducto:hover{
    cursor: pointer;
    transition: 0.2s;
    transform: scale(1.02);
    box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 0.4);
    background: rgb(250, 253, 253);
}
.nombre{
    color: #3483fa;
    margin-top: 10px;
    margin-left: 4px;
    font-weight: 500;
}
.cat{
    margin-top: 10px;
    margin-left: 4px;
    font-weight: 700;
    margin-bottom: 0;
    font-weight: 400;
    font-variant: small-caps;
}
.precio{
    color: #00a650;
    margin-top: 10px;
    margin-left: 4px;
    font-weight: 700;
    margin-bottom: 0;
}
.descripcion{
    padding: 4px;
    font-size: 16px;
    font-weight: 400;
    color: #555454;
}
/*================ Filas tabla ===================*/
.fila{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    margin-bottom: 30px;

}
/* estilo de prueba para la tabla del tutor*/
.tablaMiguel{
    padding: 4px;
    text-align: center;
    border: 1px solid red;
}

/*================ Footer ===================*/

footer{
    height: 110px;
    margin-top: 100px;
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background: rgba(0, 0, 0, 0.712);
    color: lightgray;
}

.hansLogo{
    margin: 5px 20px;
    width:50px;
    height: 50px;
    border-radius: 10px;
}

.autor{
    text-decoration: none;
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace !important;
    font-size: 15px;
    color: lightgreen;  
}