
/* 
    Created on : 24 nov 2022, 22:04:29
    Author     : Hans
*/
html{
    scroll-behavior: smooth;
}
body{
    height: 100vh;
    background: #e7e7e7;
    color: #222222;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-y: scroll;
}
body::-webkit-scrollbar{
    display: none;
}
/*================== Heather ====================*/

header{
    background-color: #222222;
    height: 100px;
    padding: 10px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
    color: #fff;
}
.logo{
    width: 150px;
    height: 60px;
    border-radius: 5px;
}
/*========================== NAV =========================*/
nav{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.menu a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}
.mostrar-menu,
.esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}
.mostrar-menu{
    order:1;
}
.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
    color: tomato;
}
#check{
    display:none;
}

.botonLog{
    text-decoration: none;
    background-color: #222222;
    padding: 5px 50px 9px 50px;
    color: rgb(132, 132, 252);
    border: 1px solid rgb(132, 132, 252);
    position: relative;
    margin: 0 20px;
    transition: 0.4s;
}
.botonLog:hover{
    cursor:pointer;
    text-shadow: 0px 0px 4px rgb(132, 132, 252);
    box-shadow: 0px 0px 10px 3px rgb(132, 132, 252),
                0px 0px 5px 1px rgb(132, 132, 252) inset;
}


/*============ Botón desplegable de usuario ==============*/
.desplegableUsuario{
    border: 2px solid transparent;
    width: fit-content;
    margin: 0 20px;
}
.admin{
    color: #2f4ed6;
    margin: 4px;
}
.desplegableUsuario > a{
    height: fit-content;
    padding: 2px 8px;
    color: yellowgreen;
    text-decoration: none;
    box-sizing: border-box;
    outline: 1px solid yellowgreen;
    outline-style: double;
    border-radius: 5px;
}
.desplegableUsuario > a:hover{
    box-shadow: 0px 0px 3px 3px #94e733,
                0px 0px 3px 1px #94e733 inset;
    text-shadow: 0px 0px 2px #94e733;
}
.menuUsuario{
    display: none;
    border-radius: 3px;
    overflow: hidden;
    background: linear-gradient( to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3) );
    z-index: 2;
    backdrop-filter: blur(2rem);
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.2);
    position: absolute;
    margin-top: 1px;
    right: 5px;
    min-width: 160px;

}
.desplegableUsuario:hover .menuUsuario{
    display: block;
}
.menuUsuario ul{
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
}
.desplegableUsuario .menuUsuario li a{
    color: black;
    display: block;
    padding: 5px;
    text-decoration: none;
}
.desplegableUsuario .menuUsuario li a:hover{
    background-color: #2f4ed6;
    color: aliceblue;
}
/*============ contenedor principal =============*/

.contenedorPrincipal{
    display: flex;
    flex-direction: column;
    /*position: relative;
    height:100vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    height: 90%;
    position: relative;
    margin-top: 20px;
    width: 100vw;*/
}

/*================== Carruseles ====================*/
:root{
    --hue: 164;
    --colorPrimario: hsl(var(--hue),100%,50%);
    --colorOpuesto: hsl(calc(var(--hue) - 180),100%,50%);
    --focusPunto: rgb(54, 54, 54);
    --nofocusPunto: rgba(128, 125, 125, 0.616);
}
.carrusel{
    display: flex;
    align-items: center;
}
.carrusel:hover input{
    cursor: pointer;
    opacity: 20%;
}
.carrusel input{
    background: white;
    border: 1px solid gray;
    padding: 0.6% 0.2%;
    font-size: 1rem;
    opacity: 0%;
}
.carrusel input:last-child{
    border-radius: 20px 0 0 20px;
}
.carrusel input:first-child{
    border-radius: 0 20px 20px 0;
}
.carrusel input:hover{
    color: #2f4ed6;
    cursor: pointer;
    opacity: 80%;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.658);
    transition: 0.4s;
}
.cuerpoCarrusel{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1600px;
    overflow: hidden;
}
.boton{
    cursor: pointer;
}
.imagenes{
    display: flex;
    position: relative;
    left: 0;
    z-index: -1;
    height: 96%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}
.imagen{
    display: flex;
    transition: 1s;
    position: relative;
    min-width: 100%;
    max-width: 1600px;
    height: 100%;
    background-color: rgba(45, 145, 212, 0.411);
}
.imagen img{
    width: 100%;
}
.puntos{
    padding: 2px;
    margin: 0 auto;
    height: 4%;
    width: 2.5%;
    display: flex;
}

.punto{
    margin: 0 auto;
    height: 7px;
    width: 7px;
    background-color: var(--nofocusPunto);
    border-radius:50%;
    transition: 0.4s;
}
.uno{
    background-color: var(--focusPunto);
}
.punto:hover{
    cursor: pointer;
    transform: scale(1.1);
}

/*======= Carrusel Tarjetas ========*/
.carruselTarjetas{
    margin: 30px 0 80px;
    display: flex;
    justify-content: center;
}
.cuerpoCarruselFila{
    width: 100%;
    max-width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.filaTarjetasCarrusel{
    margin: 0 10px 0 0;
    padding: 10px 0;
    width: 100%;
    max-width: 1200px;
    transition: 1s;
    overflow: hidden;
}
.contenedorTarjetasCarrusel{
    position: relative;
    display: flex;
    flex-direction: row;
    transition: 1s;
}
.contenedorTarjeta{
    width: 240px;
}
.contenedorTarjeta .tarjetaProducto{
    margin: 0 8px;
}
.carruselTarjetas input{
    font-family: arial;
    background: white;
    border: 1px solid gray;
    color: #2f4ed6;
    padding: 0.6% 0.2%;
    font-size: 3rem;
    opacity: 20%;
}
.carruselTarjetas input:hover{
    cursor: pointer;
    opacity: 90%;
    box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.5);
    transition: 0.4s;
}

/*================== Títulos ====================*/

h2{
    font-size: 40px;
    font-weight: 150;
    font-variant: small-caps;
    margin-bottom: 0px; 
}
.tituloPrincipal{
}
.tituloPrincipal h2{
    text-align: left;
    margin: 0 auto;
    max-width: 1200px;
}
.tituloPrincipal hr{
    max-width: 1200px;
}


/*======= Tabla de tarjetas de productos =======*/

.tablaProductos{
}
tbody{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
}
/*================ Filas tabla ===================*/
.fila{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 15px 0 60px 0;
    gap: 20px;

}
/* estilo de prueba para la tabla del tutor*/
.tablaMiguel{
    padding: 4px;
    text-align: center;
    border: 1px solid red;
}

/*================ Tarjetas ===================*/
.tarjetaProducto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 350px;
    min-width: 224px;
    max-width: 224px;
    color: black;
    transition: 0.1s;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
    background: rgb(253, 253, 253);
    overflow: hidden;
}
.tarjetaProducto:hover{
    cursor: pointer;
    transition: 0.2s;
    transform: scale(1.01);
    box-shadow: 0px 3px 15px 1px rgba(0, 0, 0, 0.2);
    background: rgb(250, 253, 253);
}
.tarjetaProducto:hover .descripcion{
    /*min-height: 110px;
    overflow: hidden;*/
}
.nombre{
    color: #3483fa;
    margin-top: 10px;
    margin-left: 4px;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.imgProd{
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
    width:auto;
    height: 200px;
    object-fit: cover;
}
.cat{
    margin-top: 10px;
    margin-left: 4px;
    font-weight: 700;
    margin-bottom: 0;
    font-weight: 400;
    font-variant: small-caps;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.precio{
    color: #00a650;
    margin-top: 10px;
    margin-left: 4px;
    font-weight: 700;
    margin-bottom: 0;
}
.descripcion{
    padding: 4px;
    font-size: 16px;
    font-weight: 400;
    color: #555454;
    height: 30px;
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*============ Tarjetas grandes ==============*/

.seccionTarjetasGreandes{
    
}
.contenedorTarjetasGrandes{
    margin: 0 auto;
    display: flex;
    align-items:center;
    justify-content: center;
}
.tarjetaGrande{
    background: white;
    height: 350px;
    margin: 0 10px 100px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
    background: rgb(253, 253, 253);
    width: 600px;
    overflow: hidden;
}
.imgProdTG{
    height: 200px;
    width: 100%;
    object-fit: cover;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
}

/*================ Footer ===================*/

footer{
    height: 310px;
    margin-top: 100px;
    border-top: 1px solid (3,3,3,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background: #fff;
    /*background: rgba(0, 0, 0, 0.712);*/
    bottom: 0;
}

.logosFoot{
    margin: 5px 20px;
    width:50px;
    height: 50px;
    border-radius: 10px;
    border:1px solid rgba(0, 0, 0, 0.712);
}

.autor{
    text-decoration: none;
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace !important;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.712);  
}
/*=============== Compras ==================*/
.sectionCompra{
    height: 89vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedorCompra{
    box-shadow: 0px 10px 20px 2px rgba(0,0,0,0.2);
    height: 60%;
    width: 60%;
    min-width: fit-content;
    border-radius: 30px;
    background: white;
    display: flex;
    justify-content: space-between;
}
.contenedorProductoCompra{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    
}
.contenedorProductoCompra img{
    height: 70%;
    min-width: 70%;
}
.contenedorDatosCompra{
    width: 30%;
    padding: 55px;
    border-left: 1px solid lightgrey;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 30px;
}
.contenedorDatosCompra input{
    text-decoration: none;
    cursor: pointer;
    color: #000;
    margin: 1rem;
    padding: 8px 30px;
    border: 1px solid green;
    font-weight: 900;
    font-size: 14px;
    transition: 0.2s;
    border-radius: 6px;
    background: linear-gradient(180deg,#94e733,#36d521 50%,#1ec725 51%,#008e3a);
    font-family: playbold,Arial,sans-serif;
    text-shadow: 1px 1px #9fe75c;
}
.contenedorDatosCompra input:hover{
    transform: scale(1.03);
    background: linear-gradient(180deg,#94e733,#94e733 50%,#1ec725 51%,#008e3a);
    transition: 0.2s;
    border: 1px solid #061a02;
    box-shadow: 0px 0px 3px 3px rgb(159, 231, 92, 0.6);
}

/*=============== RESPONSIVE ==================*/
@media(max-width: 1634px){
    .carrusel input{
        position: absolute;
        transform: translateY(-3.5%);
        padding: 5% 2%;
        font-size: 3rem;
    }
    .carrusel input:last-child{
        right: 0;
    }
    .carrusel input:last-child{
        border-radius: 15rem 0 0 15rem;
    }
    .carrusel input:first-child{
        border-radius: 0 15rem 15rem 0;
    }
    .puntos{
        padding: 1.5px;
        height: 4%;
        width: 2.5%;
    }
    .punto{
        margin: 0 auto;
        height: 4px;
        width: 4px;
    }
    
}
@media(max-width: 768px){
    /* HEADER */
    header{
        background-color: #222222;
        height: 50px;
        padding: 5px 15px;
    }
    .logo{
        width: 90px;
        height: 36px;
        border-radius: 3px;
    }
    .botonLog{
        text-decoration: none;
        background-color: #222222;
        padding: 5px 50px 9px 50px;
        color: rgb(132, 132, 252);
        border: 1px solid rgb(132, 132, 252);
        position: relative;
        transition: 0.4s;
        min-width: 40%;
        margin: 20px;
    }
    .desplegableUsuario{
        border: 2px solid transparent;
        min-width: 40%;
        display: flex;
        flex-direction: column;
    }
    .desplegableUsuario > a{
        margin: 20px;
    }
    .mostrar-menu,
    .esconder-menu{
        display: block;
    }
    .menu{
        position:fixed;
        width: 100%;
        height: 100vh;
        background: linear-gradient(to bottom,rgb(34, 34, 34)5%, rgba(34, 34, 34, 0.95)50%,rgba(34, 34, 34, 0.6) 90%, transparent 100%);
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
    }
    .menu a{
        display: block;
        padding: 20px;
    }
    .esconder-menu{
        position: absolute;
        top: 10px;
        right: 15px;
    }
    .block-scroll{overflow:hidden;}
    #check:checked ~ .menu{
        position:fixed;
        right: 0;
        overflow: auto;
        overscroll-behavior-y: contain;
    }
    /*Body--------------------*/
    .carrusel{
        margin: 0 10px;
    }
    .puntos{
        padding: 1.5px;
        height: 4%;
        width: 4.5%;
    }
    tbody{
        margin: 0 10px;
    }
    
    /*carrusel tarjetas*/
    .carruselTarjetas{
        margin: 0 10px;
    }
    .filaTarjetasCarrusel{
        overflow-x: scroll;
        margin: 0 10px;
    }
    .contenedorTarjetasCarrusel{
        width: fit-content;
    }
    .contenedorTarjeta{
        width: 150px;
    }
    .contenedorTarjeta .tarjetaProducto{
        margin: 0 8px;
    }
    .carruselTarjetas input{
        display: none;
    }
    .atrasFila, .adelanteFila{
        display: none;
    }


    /*================== Títulos ====================*/

    .tituloPrincipal, h2{
        padding: 0 10px;
        min-width: 150px;
        font-size: 20px;
    }
    /*================ Tarjetas ===================*/
    .tarjetaProducto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 200px;
        max-width: 130px;
        min-width: 130px;
    }
    .nombre{
        color: #3483fa;
        margin: 0;
        margin-top: 4px;
        margin-left: 4px;
        font-weight: 500;
        font-size: 12px;
    }
    .imgProd{
        box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
        width:auto;
        height: 100px;
    }
    .cat{
        margin-top: 4px;
        margin-left: 4px;
        font-weight: 700;
        margin-bottom: 0;
        font-weight: 400;
        font-variant: small-caps;
        font-size: 12px;
    }
    .precio{
        color: #00a650;
        margin-top: 4px;
        margin-left: 4px;
        font-weight: 700;
        margin-bottom: 0;
        font-size: 13px;
    }
    .descripcion{
        padding: 4px;
        font-size: 11px;
        font-weight: 400;
        color: #555454;
        height: 50px;
        margin: 0px;
        overflow: hidden;
    }
    
    /*=== Tarjetas grandes =====*/
    
    .tarjetaGrande{
        height: 200px;
        margin: 20px 10px 10px;
    }
    .imgProdTG{
        height: 130px;
        width: 100%;
        box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
    }
    /*=== Footer =====*/
    .volverInicio{
        /* se agregó el estilo a la etiqueta html con el smooth scroll*/
        all: unset;
        cursor: pointer;
        padding: 5px 15px;
        border: 1px solid gray;
    }
    footer{
    height: 150px;
    }

    .logosFoot{
        margin: 5px 20px;
        width: 25px;
        height: 25px;
        border-radius: 3px;
    }

    .autor{
        font-size: 10px;
    }
    /*xxxxxxxxxxx Compra xxxxxxxxxxxxx*/
    .sectionCompra{
        padding: 0 10px;
    }
    .contenedorCompra{
        flex-direction: column;
        height: fit-content;
        width: 100%;
    }
    .contenedorProductoCompra{
        padding: 0;
        width: auto;
        font-size: 10px;
    }
    .contenedorProductoCompra img{
        margin: 0 auto;
        width: 70%;
    }
    .contenedorDatosCompra{
        border-top: 1px solid lightgrey;
        border-left: 0;
        padding: 30px;
        width: auto;
        display: flex;
        justify-content: space-around;
        font-size: 25px;
    }
    .contenedorDatosCompra input{
        margin: 20px 0;
    }
}
@media (max-width: 450px){
    .contenedorTarjetasGrandes{
        align-items: center;
        flex-wrap: wrap;
        margin: 30px 10px;
    }
}