/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 13 ene 2023, 12:58:05
    Author     : Hans
*/

body{
    height:100vh;
    background: #FFFF;
    display: grid;
    place-items: center;
}
.aAdmin{
    display:flex;
    position: absolute;
    z-index:1;
    left: -70px;
    border-right: 60px solid lightblue;
    border-radius: 10px;
}
.aAdmin:hover{
    transform: translateX(70px);
    transition: transform 1s;
}
.container-fluid{
    position :relative;
    top: -15%;
}
img{
    width: 150px !important;
    margin-bottom: 2%;
    border: 3px solid rgba(39,41,43,0.3);
    border-style: double;
    border-radius: 20px;
    padding: 10px 20px;
}
h1{
    text-align: center;
    color: #0d6efd;
}
.col-10{
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(39,41,43,0.03);
    border: 1px solid rgba(39,41,43,0.1);
}
a{
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}
#links{
    display:flex;
    justify-content: space-between;
}
#registrarse{
    font-weight: bold;
}
@media(max-width: 768px){
        .container-fluid{
        position :relative;
        top: -1%;
    }
    img{
        width: 150px !important;
        margin-bottom: 0;
        border: 3px solid rgba(39,41,43,0.3);
        border-style: double;
        border-radius: 20px;
        padding: 10px 20px;
    }
    .aAdmin{
        display:flex;
        position: absolute;
        z-index:1;
        left: -30px;
        border-right: 60px solid lightblue;
        border-radius: 10px;
    }
}