*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --hue: 164;
    --colorPrimario: hsl(var(--hue),100%,50%);
    --colorOpuesto: hsl(calc(var(--hue) - 180),100%,50%);
    --focusPunto: rgb(54, 54, 54);
    --nofocusPunto: rgba(128, 125, 125, 0.616);
}
.carrusel{
    display: flex;
    align-items: center;
}
.carrusel:hover input{
    opacity: 20%;
}
.carrusel input{
    background: white;
    border: 1px solid gray;
    padding: 0.6% 0.2%;
    font-size: 1rem;
    opacity: 0%;
}
.carrusel input:last-child{
    border-radius: 20px 0 0 20px;
}
.carrusel input:first-child{
    border-radius: 0 20px 20px 0;
}
.carrusel input:hover{
    color: #2f4ed6;
    cursor: pointer;
    opacity: 80%;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.658);
    transition: 0.4s;
}
.cuerpoCarrusel{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1600px;
    overflow: hidden;
}
.boton{
    cursor: pointer;
}
.imagenes{
    display: flex;
    position: relative;
    left: 0;
    z-index: -1;
    height: 96%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}
.imagen{
    display: flex;
    transition: 1s;
    position: relative;
    min-width: 100%;
    max-width: 1600px;
    height: 100%;
    background-color: rgba(45, 145, 212, 0.411);
}
.imagen img{
    width: 100%;
}
.puntos{
    padding: 2px;
    margin: 0 auto;
    height: 4%;
    width: 2.5%;
    display: flex;
}

.punto{
    margin: 0 auto;
    height: 7px;
    width: 7px;
    background-color: var(--nofocusPunto);
    border-radius:50%;
    transition: 0.4s;
}
.uno{
    background-color: var(--focusPunto);
}
.punto:hover{
    cursor: pointer;
    transform: scale(1.1);
}
@media(max-width: 1634px){
    .carrusel input{
        position: absolute;
        transform: translateY(-3.5%);
        padding: 5% 2%;
        font-size: 3rem;
    }
    .carrusel input:last-child{
        right: 0;
    }
    .carrusel input:last-child{
        border-radius: 15rem 0 0 15rem;
    }
    .carrusel input:first-child{
        border-radius: 0 15rem 15rem 0;
    }
    .puntos{
        padding: 1.5px;
        height: 4%;
        width: 2.5%;
    }
    .punto{
        margin: 0 auto;
        height: 4px;
        width: 4px;
    }
}